body {
    display: flex;
    background-color: rgb(67, 113, 230);
    color: aliceblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-right: 20%;
  }
  
  .container {
    display: flex;
  }
  
  .input {
    padding: 5%;
    margin-left: 5%;
  }
  
  .input-text {
    padding: 3%;
    color: aliceblue;
    background-color: rgb(67, 113, 230);
    border: solid black 2px;
    height: 300px;
    width: 300px;
    border-radius: 2px;
  }
  
  .output {
    padding: 5%;
    margin-left: 5%;
  }
  
  .output-text {
    padding: 3%;
    height: 300px;
    width: 300px;
    background-color: rgb(29, 28, 28);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.626);

  }